PORT=3002
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=orders_db
DB_USER=root
DB_PASSWORD=secret

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1h

SERVICE_TOKEN=internal-service-token-secret

CUSTOMERS_API_BASE_URL=http://localhost:3001
CUSTOMERS_SERVICE_TOKEN=internal-service-token-secret