PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=customers_db
DB_USER=root
DB_PASSWORD=secret

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1h

SERVICE_TOKEN=internal-service-token-secret
